body {
    font-family: 'Noto Serif', serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 120px;
}

.half-width {
    width: 50%;
    padding: 5%;
}

.half-width img {
    width: 85%;
}

p {
    text-align: justify;
}

.link-button1 {
    text-decoration: none;
    background-color: orange;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.second-section {
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.first-p {
    text-align: justify;
    margin-right: 100px;
}

.experience-item {
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding: 30px;
    border-radius: 10px;

}

.experience-area {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;

}

#full-stack {
    border-left: 5px solid tomato;
}

#kicu-pari-na {
    border-left: 5px solid blue;
}

footer p {
    text-align: center;
}

.exp {
    margin-left: 40px;
}